@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Login Page</h1>

    @if(TempData["Message"] != null)
    {
        <div class="alert alert-danger mt-4" role="alert">
            @TempData["Message"]
        </div>
    }])

    <form method="POST" class="mt-4">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>

        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Login</button>
    </form>
</div>
