@page
@model BookStore_TruongMinhHoang.Pages.AccessDeniedModel

@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<p>You do not have permission to view this page.</p>
<a asp-page="/Index">Return to Home</a>
