@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>

    @if (TempData["Message"] != null)
    {
        <div class="text-danger">@TempData["Message"]</div>
    }

    <form method="post">
        <div>
            <label>Username:</label>
            <input username="email" type="text" />
        </div>
        <div class="my-2">
            <label>Password:</label>
            <input name="password" type="password" />
        </div>
        <input type="submit" value="Login" />
    </form>

</div>
